* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #243e63;
}

.nav__container {
    margin: 0, 22px;
}
.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.img__wrapper {
    padding: 20px;
}

.logo__img {
    width: 300px;
    border-radius: 25px;
}

.nav__links {
    display: flex;
    padding: 20px;
}

.nav__link {
    padding: 5px;
    font-size: 20px;
}

#search__area {
    height: 50vh;
    display: flex;
    align-items: center;
    margin: 0, 22px;
}

.spacer {
    flex: 1;
}

.search__row {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}

.search__bar {
    display: flex;
    gap: 15px;
}
.search__input {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.search__button {
    width: 130px;
    height: 50px;
    font-size: 24px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.sort__box {
   text-align: right;
   margin-right: 20px;
}

select {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

#footer {
    width: 100%;
    margin-top: 300px;
}

.logo__img--footer {
    width: 300px;
    border-radius: 25px;
}

.footer__links {

}

.footer__link {
    padding: 8px;
    font-size: 20px;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  padding-top: 60px;
  grid-column: 1 / -1;
  font-size: 60px;
  color: #1c098a;
}

.movies__loading--spinner {
  display: inline-block;
  animation: rotate 800ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.movie__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.movie__card--container {
    margin: 20px;
}

.movie__card {
    max-width: 100%;
}

.movie__poster {
    height: 500px;

}